
.Vacation{
    font-family: Montserrat;
    justify-content:center;
    display: flex;
    margin: 22.5vh auto 0;
    padding-top: 10vh;
    flex-direction: column;
    height: auto;
    min-width: 800px;
    max-width: 100vw;
    overflow: auto;
}

.budget-label{
    font-size: 30px;
    margin-right:120px;
    align-self: center;

}
.expense-label{
    font-size: 30px;
    margin-right:137px;

    
}

.expense-amount{
    font-size: 30px;
    margin-right:118px;
    
}

.delete-label{
    font-size: 30px;
    margin-right:25px;
}


.print-label{
  margin-left: 0px;
  
}
.total-label{
    margin-left: 0px;
}
.print{
    border: 3px outset #eee;
    margin-top: 10px;
    border-radius: 5px;
    text-align: center;
    background:white;
    color: rgb(7, 6, 6);
    font-style: normal;
    width: 50vh;
    align-self: center;
   
}

.box{
    border: 3px outset #eee;
    border-radius: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 80vh;
    align-self: center;
}

.Vacation input{
    text-align: left;
    width: auto;
    border-radius: 5px;
    border-color:white;
    border:none;
    cursor: pointer;
    height: 30px;
    font-size: large;
    
}


#budget{
    margin-left: 0px;
}
#expense-name{
    margin-right: 12.7vh;
    
}

#expense-amount{
    margin-right:8px;
    
}

#delete-expense{
    margin-left: 0px;
    
}

.Vacation button{
    cursor: pointer;
    font-size: large;
    font-family: 'Sometype Mono', monospace;
    border-radius: 5px;
    transition-duration: 0.4s;
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 1px;
    padding-bottom: 1px;
    text-align: center;
}


#set-budget{
    background-color: white;
    border: solid#008000;
    margin-left: 5vh;
}

#set-budget:hover{
    background-color: #008000;
    color: rgb(255, 255, 255);
}


#add-expense{
    background-color: white;
    border: solid #008000;
    margin-left: 5vh;

    
    
}
#add-expense:hover{
    background-color: #008000;
    color: rgb(255, 255, 255);
}

#delete-button{
    background-color: white;
    border: solid #f45142;
    text-align: center;
    margin-left: 1.3vh;
}

#delete-button:hover{
    background-color: #f45142;
    color: rgb(255, 255, 255);
    
}

#reset-button{
    background-color: white;
    border: solid white;
    align-self: center;
}

#reset-button:hover{
    border: solid #FF6F61;
    background-color: #FF6F61;
    color: rgb(255, 255, 255);
    padding-left: 30px;
    padding-right: 30px;
    
    
}

.Vacation table {
    
    padding-top: 5px;
    margin: 10px auto;
    text-align: center;
    width: 50vh;
    border: 2px solid #bbb;
    border-radius: 10px;
    background: white;
    color: rgb(50, 49, 49);
    
}


