
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sometype+Mono&display=swap');

.Vacation{
    font-family: 'Roboto', sans-serif;
    text-align:center;
}

.Vacation h1{
    font-family: 'Roboto', sans-serif;
}

.Vacation label{
    padding-right: 40px;
    text-align: center;
}

.budget-label{
    margin-left: -156px;

}
.expense-label{
    margin-left: -76px;
}

.expense-amount{
    margin-left: -49px; ;
}

.delete-label{
    margin-left: -38px;
}

.print-label{
  margin-left: -10px;
}


.Vacation input{
    text-align: center;
    width: auto;
    margin-left: 15px;
    padding-top: 5px;
    padding-bottom: 3px;
    border-radius: 5px;
    border-color:white;
    border: none;
    cursor: pointer;
    align-self: center;
}


#budget{
    margin-left: -60px;
}
#expense-name{
    margin-left: -135px;
    text-align:center;
}

#expense-amount{
    margin-left: -50px;
    bottom: 12px;
    position: relative;
}

#delete-expense{
    margin-left: -29px;
    text-align:center;
}

.Vacation button{
    
    size: 30px;
    cursor: pointer;
    font-size: medium;
    font-family: 'Sometype Mono', monospace;
    border-radius: 5px;
    transition-duration: 0.4s;
    padding: 3px;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 1px;
    padding-bottom: 1px;
    text-align: center;
    align-self: center;
}


#set-budget{
    background-color: white;
    border: solid rgb(30, 176, 30);
    margin: 15px;
   
}

#set-budget:hover{
    background-color: rgb(30, 176, 30);
    color: rgb(255, 255, 255);
    padding-left: 10px;
    padding-right: 10px;
    
}


#add-expense{
    background-color: white;
    border: solid rgb(30, 176, 30);
    position: relative;
    bottom: 12px;
    margin: 20px;
    
}
#add-expense:hover{
    background-color: rgb(30, 176, 30);
    color: rgb(255, 255, 255);
    padding-left: 10px;
    padding-right: 10px;
}

#delete-button{
    background-color: white;
    border: solid rgb(205, 33, 33);
    text-align: center;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

#delete-button:hover{
    background-color: rgb(205, 33, 33);
    color: rgb(255, 255, 255);
    padding-left: 10px;
    padding-right: 10px;
}

#reset-button{
    background-color: white;
    border: solid white;
    align-self: center;
}

#reset-button:hover{
    border: solid black;
    background-color: black;
    color: rgb(255, 255, 255);
    padding-left: 30px;
    padding-right: 30px;
    
    
}

.Vacation table {
    padding-top: 5px;
    margin: 10px;
    text-align: center;
    width: 100%;
    border-collapse:separate;
}

.Vacation th,td{
    border: solid 2px slategray;
    border-radius: 40px;
}
