#RegistrationPage {
    padding: 2.5%;
    margin-top: calc(12.5vmin);
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    height: auto;
    min-width: 1000px;
    width: 90%;
    max-width: 100%;
}

#RegistrationPage h2 {
    font-size: calc(10px + 4vmin);
    color: #333;
}

#RegistrationPage input {
    height: calc(10px + 2vmin);
    font-size: calc(10px + 1vmin);
    width: auto;
    border: 2px solid white;
    border-radius: 3px;
    display: block;
    margin: 10px 0;
    padding: 10px;
    box-sizing: border-box;
}

#RegistrationPage button {
    height: calc(10px + 3.5vmin);
    font-size: calc(10px + 2vmin);
    width: 80%;
    border: 2px solid black;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    align-self: center;
    margin-top: 10px;
}

#RegistrationPage button:hover {
    background-color: #45a049;
}

/* Additional styles to match the DebtCalculatorPage aesthetics */
#RegistrationPage label {
    text-align: left;
    height: calc(10px + 2vmin);
    font-size: calc(10px + 2vmin);
    width: auto;
}

#RegistrationPage input[type="number"] {
    -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
