/* Overall navbar styling */
.navigation {
    position: fixed; /* Fix the navbar to the top of the screen */
    top: 0; /* Align the navbar to the top */
    left: 0; /* Align the navbar to the left */
    width: 100%; /* Ensure the navbar spans the full width of the screen */
    background-color: #031930; /* Dark blue background */
    z-index: 1030; /* Higher z-index to ensure it stays on top of other content */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

    flex-direction: column;
}

/* Top row styling */
.top-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 0.5rem; /* Space between top row and navigation buttons */
}

/* Style for the company name */
.navigation-brand {
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
}

/* Style for the navigation links */
.navigation-options {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding-left: 0; /* Remove default padding */
}

.navigation-item {
    margin: 0 0.5vw; /* Space between links */
}

.navigation-link {
    color: white;
    background-color: #18bc9c; /* Green background */
    padding: 0.5rem 1rem;
    border-radius: 4px;
    text-decoration: none;
    font-weight: bold;
    font-size: max(1.2rem, 1.9vw);
}

/* Style for the authentication links */
.auth-links {
    display: flex;
}

.auth {
    padding: 0.5rem 1rem;
    margin: 0 0.5rem;
    background-color: #18bc9c;
    color: white;
    text-decoration: none;
    border-radius: 4px;
}

.special {
    background-color: #e74c3c;
    color: white;
}

/* Commented out by Preston to try to fix navbar */
/* Responsive adjustments */
/* @media (max-width: 991px) {
    .navigation-options, .top-row {
        flex-direction: row;
        align-items: center;
    }

    .auth-links, .navigation-options {
        width: 100%;
    }

    .navigation-item {
        width: 100%;
        margin: 0.5rem 0;
    }

    .auth {
        width: 100%;
        margin: 0.5rem 0;
    }
} */
