#DebtCalculatorPage {
    padding: 2.5%;
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    height: auto;
    min-width: 1000px;
    width: 90%;
    max-width: 100%;
}

#DebtCalculatorPage input {
    height: calc(10px + 2vmin);
    font-size: calc(10px + 1vmin);
    width: auto;
    border: 2px solid white;
    border-radius: 3px;
}

#DebtCalculatorPage button {
    height: calc(10px + 3vmin);
    font-size: calc(10px + 2vmin);
    width: 80%;
    border: 2px solid black;
    border-radius: 3px;
    align-self: center;
}

#DebtCalculatorPage select {
    height: calc(10px + 2.5vmin);
    font-size: calc(10px + 1vmin);
    width: auto;
    border: 2px solid white;
    border-radius: 3px;
}

#DebtCalculatorPage label {
    text-align: left;
    height: calc(10px + 2vmin);
    font-size: calc(10px + 2vmin);
    width: auto;
}

#DebtCalculatorPage input[type="number"] {
    -moz-appearance: textfield;
  }
  
  input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

#DebtContainer {
    display: flex;
    flex-direction: row;
}

#DebtCalc1 {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    min-width: auto;
    min-height: auto;
    margin-left: 10%;
    width: 35%;
}

#DebtCalc1Output {
    padding: 2.5%;
    background-color: #f9f9f9;
    border-radius: 5px;
    align-items: left;
    justify-content: left;
    width: 95%;
    color: black;
}

#DebtCalc1Output h3 {
    margin-top: -0.5%;
}

#DebtCalc1Output p {
    margin-top: -10%;
    font-size: calc(10px + 1.5vmin);
}

#DebtCalc2 {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    min-width: auto;
    min-height: auto;
    margin-left: 10%;
    width: 35%;
}

#DebtCalc2Output {
    padding: 2.5%;
    background-color: #f9f9f9;
    border-radius: 5px;
    align-items: left;
    justify-content: left;
    width: 95%;
    height: auto;
    color: black;
}

#DebtCalc2Output h3 {
    margin-top: -0.5%;
}

#DebtCalc2Output p {
    margin-top: -10%;
    font-size: calc(10px + 1.5vmin);
}