#DebtCalculatorPage {
    padding: 2.5%;
    margin-top: 17vh;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    height: auto;
    min-width: 1050px;
    width: 90%;
    max-width: 100vw;
    font-family: Montserrat;
}

#DebtCalculatorPage h1 {
    font-size: calc(10px + 4vmin);
}

#DebtCalculatorPage input {
    height: calc(10px + 2.25vmin);
    font-size: calc(10px + 1vmin);
    width: auto;
    border: 2px solid white;
    border-radius: 3px;
    font-family: Montserrat;
}

#DebtCalculatorPage button {
    height: calc(10px + 3.75vmin);
    font-size: calc(10px + 2vmin);
    color: white;
    width: 85%;
    border: 2px solid black;
    border-radius: 5px;
    align-self: center;
    background-color: #30b273;
    font-family: Montserrat;
}

#DebtCalculatorPage select {
    height: calc(10px + 2.75vmin);
    font-size: calc(10px + 1vmin);
    width: auto;
    border: 2px solid white;
    border-radius: 3px;
}

#DebtCalculatorPage label {
    text-align: left;
    height: calc(10px + 2vmin);
    font-size: calc(10px + 2vmin);
    width: auto;
}

#DebtCalculatorPage input[type="number"] {
    -moz-appearance: textfield;
  }
  
  input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

#date {
    font-family: Montserrat;
}

#DebtContainer {
    display: flex;
    flex-direction: row;
    min-width: 1000px;
}

#DebtCalc1 {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    min-width: 400px;
    min-height: auto;
    margin-left: auto;
    width: 35%;
}

#DebtCalc1Output {
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 2vmin;
    background-color: #f9f9f9;
    border-radius: 5px;
    align-items: left;
    justify-content: left;
    width: 97.5%;
    height: auto;
    color: black;
}

#DebtCalc1Output h3 {
    margin-top: -0.5%;
    font-size: calc(10px + 2vmin);
}

#DebtCalc1Output p {
    margin-top: -10%;
    font-size: calc(10px + 1.5vmin);
}

#DebtCalc2 {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    min-width: 400px;
    min-height: auto;
    margin-left: 10%;
    margin-right: auto;
    width: 35%;
}

#DebtCalc2Output {
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 2vmin;
    background-color: #f9f9f9;
    border-radius: 5px;
    align-items: left;
    justify-content: left;
    width: 97.5%;
    height: auto;
    color: black;
}

#DebtCalc2Output h3 {
    margin-top: -0.5%;
    font-size: calc(10px + 2vmin);
}

#DebtCalc2Output p {
    margin-top: -10%;
    font-size: calc(10px + 1.5vmin);
}

#DebtChart {
    margin-left: 10%;
    height: 100%;
    width: 80%;
    min-width: 400px;
    min-height: 400px;
}